<div class="search-container">
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Найти книгу</mat-label>
        <input
                matInput
                type="text"
                placeholder="Введите название или автора..."
                [(ngModel)]="searchQuery"
                (ngModelChange)="onSearch()"
        >
        <mat-icon matPrefix>search</mat-icon>
        @if (searchQuery) {
            <button matSuffix mat-icon-button (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        }
    </mat-form-field>
</div>

@if (!!filteredBooks().length) {
    <mat-grid-list cols="3" rowHeight="200px" gutterSize="8px">
        @for (book of filteredBooks(); track book.id) {
            <mat-grid-tile>
                <app-book-card [book]="book"/>
            </mat-grid-tile>
        }
    </mat-grid-list>
} @else if (!filteredBooks().length) {
    <p>Книг не найдено</p>
} @else {
    <p>Список книг пуст</p>
}
<button (click)="addBook()" mat-fab color="primary" aria-label="Добавить книгу">
    <mat-icon>add</mat-icon>
</button>
